<header class="bg-slate-800 p-9 rounded-md flex items-center justify-between mb-14">
  <strong class="text-white">Matheus Todao</strong>

  <div>
    <button type="button" class="hover:bg-blue-900 hover:border-blue-900 hover:opacity-100 border border-slate-bg-slate-700 px-2 rounded-md opacity-[0.6] transition-all">
      Sair
    </button>
  </div>
</header>